MONGO_URI=mongodb://mongo:27017/bugforge
JWT_ACCESS_SECRET=replace-this-with-a-long-random-access-secret-min-32-chars
JWT_REFRESH_SECRET=replace-this-with-a-long-random-refresh-secret-min-32-chars
ACCESS_TOKEN_TTL=15m
REFRESH_TOKEN_TTL=7d
API_PORT=4000
NEXT_PUBLIC_API_URL=http://localhost:4000/api/v1
